$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


input {
  background-color: transparent;
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  line-height: 20px;
  margin: 2px;
  width:24%;
}

// big sign up letter
legend {
  background-color: transparent;
  color: #86ff12;
  font-size: 5px;
  height: auto;
  line-height: 20px;
  width: auto;
}

// sign up boxes
fieldset {
  align-items: baseline;
  color: #86ff12;
  font-size: 5px;
  line-height: 20px;
  // height: 34px;
}

body {
  background-attachment: fixed;
  background-image: url("http://i.imgur.com/NbBWYcf.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  border-radius: 5px;
  color: #86ff12;
  text-align: center;
}

.header {
  color: #F47209;
  font-size: 10px;
}

.rules {
  color: #86ff12;
  font-size: 20px;
}

.youhave {
  color: #86ff12;
  font-size: 20px;
  text-align: center;
}
// .container {
//   float: left;
// }
//
// #signUp {
// float: left;
// }

#countdowntimer {
  color: #86ff12;
  font-size: 80px;
  text-align: center;
}

#message {
  background-color: transparent;
  color: #86ff12;
  font-size: 40px;
  text-align: center;
}

#signOut {
background-color: transparent;
color: #F47209;
font-size: 20px;
font-weight: 300;
float: right;
margin-top: 80px;
}

h4 {
background-color: transparent;
color: #F47209;
font-size: 20px;
text-align: center;
font-weight: 300;
}

table {
  color: #F47209;
  font-family: fantasy;
  font-size: 100px;
  font-weight: 700;
  text-align: center;
  transition: transform 10s;
}

td:hover {
  background-color: #fff68F;
  transform: rotate(500deg);
}

td {
  border: 4px solid #86ff12;
  height: 150px;
  transition: transform 10s;
  width: 150px;

}

table:hover {
  transform: rotate(500deg);
}


h1 {
  color: #f47209;
  background-color: #86ff12;
  font-size: 50px;
  text-align: center;
}

h2 {
  color: #86ff12;
  font-size: 50px;
  text-align: center;
 }

h3 {
  color: #86ff12;
  font-size: 80px;
  text-align: center;
}

ul {
  text-align: center;
}

p {
  color: #86ff12;
  text-align: center;
}
