body {
background-image: url("http://i.imgur.com/NbBWYcf.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
}
div{

}
.header {
  font-size: 120px;
  color: red
}
.rules {
  color:white;
}
.button {
  text-align: center;

}

.youhave {
  text-align: center;
  font-size: 100px;
  color: orange;

}
#countdowntimer {
    text-align: center;
    color: orange;
    font-size: 30px;
}
#message {
  text-align: center;
  color: orange;
  font-size: 60px;
}



table {

  width: 50%;
  border-width: 1px;
  border-style:solid;
  font-size: 10px;
  text-align: center;
  font-weight: 50;
  font-size: 100px;
  color: #86ff12;
}

td:hover {
  background-color:#FFF68F;

}


tbody {

border-style: solid;
border-width: medium;


}
td {
  width: 33.333%;
  border-style: solid;
  border-width: medium;
}
td:after {
  content: '';
  display: block;
  margin-top: 100%;

}


/*table {

  border-width: medium;
  width: 40vw;
  height: 40vw;
  border-color: #86ff12;
  text-align: center;
  color: #86ff12;
  font-weight: 500;
  font-size: 80px;

}*/


h1 {

  background-color: #86ff12;
  text-align: center;
  color: red;
  font-size: 30px;

}

h2 {

   text-align: center;
   font-size: 30px;
   color: #86ff12

 }

h3 {
  text-align: center;
  font-size: 80px;
  color: white;
}



ul {
  text-align: center;
}

p {

  text-align: center;

}
